:root {
    --font-family-1: "Sora", sans-serif;
    --font-family-2: "Roboto", sans-serif;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    font-family: var(--font-family-1);
    overflow-x: hidden;
}

header {
    height: 793px;
    background: url(../imagens/background-topo.png) no-repeat;
    background-size: contain;
    display: flex;
}

/*Animaçao entrada dos texto*/
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1s;
}

.espacamento {
    margin: 0 19%;
}

#conteudo {
    height: 300px;
    align-items: center;
    width: 529px;
}

#conteudo h1 {
    padding-top: 200px;
    padding-bottom: 10px;
}

#descricao {
    color: #3F3F3F;
    font-size:48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
}

/* botão animado */

.btn:link, .btn:visited {
    gap: 10px;
    padding: 0px 52px;
    text-decoration: none;
    position: absolute;
    transition: all .2s;
    border-radius: 10px;
    font-size: 32px;
    line-height: 54.5px;
}

.btn-color {
    background: linear-gradient(94deg, #007C5F 47.03%, #11AA86 105.09%);
    color: white;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#linha-circulo {
    position: absolute;
    top: 22.75em;
    left: 102.25em
}

/*Notificao*/
.notify {
    background: rgba(255, 255, 255, 0.50);
    height: 112px;
    width: 336px;
    margin-top: 57px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    filter: blur(0.5px);
}

.topo {
    display: flex;
}

.topo img {
    margin: 12.22px 4.22px 10.38px 7.64px;
    width: 22.145px;
    height: 22px;
}

.topo p {
    padding-top: 17px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
    font-family: var(--font-family-2);
    font-weight: 400;
}

.topo p span {
    color: black;
    padding-left: 154px;
}

.notify-conteudo {
    font-family: var(--font-family-2);
    font-size: 12px;
    padding-left: 13px;
    color: #2F302E;
}

.notify-conteudo h3 {
    font-weight: 700;
    padding-bottom: 12.53px;
}

.notify-conteudo p {
    font-weight: 400;
}

#position-nitify-1, #position-notify-2, #position-notify-3, #position-notify-4 {
    position: absolute;
}

#position-nitify-1 {
    left: 100.38em;
    margin-top: 57px;
}

#position-notify-2 {
    top: 425px;
    left: 883px;
}

#position-notify-3 {
    top: 645px;
    left: 1361px;
}

#position-notify-4 {
    top: 1380px;
    left: 270px;
    z-index: 2;
}

/*conteudo 2*/
#conteudo-2 {
    background: #007C5F;
    width: 100%;
}

#imagem-conteudo {
    padding: 126px 0 0 0;
    display: flex;
}

#imagem-conteudo img {
    width: 100%;
    z-index: 1;
}


#conteudo-text p {
    color: white;
    font-size: 45px;
    font-weight: 700;
    padding: 143px 320px 31px 30px;
 
}

#conteudo-text-2 {
    color: #232323;
    line-height: 128.635%;
    position: relative;
}

#conteudo-text-2 img {
    position: absolute;
    left: -80px;
    width: 400%;
}

#conteudo-container h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 47px 0 17px 30px;
}

#conteudo-container {
    position: absolute;
}

#conteudo-container p {
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0px 0px 30px;
    width: 500px;
}


/* conteudo 3*/

#conteudo-3 {
    background: #007C5F;
    width: 100%;
    position: absolute;
}

#conteudo-text-3 h2 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    line-height: 128.635%;
    padding: 196px 0px 30px 326px;
    width: 690px;

}

#conteudo-text-3 p {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 140%;
    padding: 0 0 197px 325px;
    width: 950px;
    height: 245px;
}

#conteudo-3-imagem {
    padding: 138px 0px 120px 0px;
}

#conteudo-3-imagem img {
    width: 83%;
}

/*conteudo 4*/

#conteudo-4 {
    position: relative;
    top: 785px;
    left: 0;
}

#conteudo-4-imagem {
    position: absolute;
    top: -200px;
    left: 1475.5px;
    width: 100%;
}

#conteudo-4-text h2 {
    color: #2E2E2E;
    font-size: 40px;
    font-weight: 700;
    padding: 87px 322px 18px 318px;
}

#conteudo-4-text p {
    color: #272727;
    font-size: 25px;
    font-weight: 400;
    line-height: 140%;
    padding: 0 320px 57px 320px;
}

#botao a {
    position: absolute;
    left: 670px;
    padding: 0 146.5px 0 146.5px;
    text-align: center;
}

#botao p {
    position: absolute;
    top: 500px;
    left: 824px;
    font-size: 20px;
    line-height: 140%;
}

#botao p span {
    color: #017D60;
    font-weight: 800;
}

#rodape {
    position: absolute;
    top: 3030px;
    display: flex;
    background: #007C5F;
    width: 100%;
}

#rodape p {
    color: white;
    line-height: 140%;
    font-weight: 400;
    padding: 27px 0px 28px 320px;
}

#rede-social {
    padding: 22px 0px 0px 688px;
}

#rede-social a img {
    padding-left: 8px;
}


/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/